In [28]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [19]:
train = pd.read_csv('./train.csv').drop('ID', axis=1)
test = pd.read_csv('./test.csv').drop('ID', axis=1)

In [20]:
train.head()

,first_party,second_party,facts,first_party_winner
0,Phil A. St. Amant,Herman A. Thompson,"On June 27, 1962, Phil St. Amant, a candidate ...",1
1,Stephen Duncan,Lawrence Owens,Ramon Nelson was riding his bike when he suffe...,0
2,Billy Joe Magwood,"Tony Patterson, Warden, et al.",An Alabama state court convicted Billy Joe Mag...,1
3,Linkletter,Walker,Victor Linkletter was convicted in state court...,0
4,William Earl Fikes,Alabama,"On April 24, 1953 in Selma, Alabama, an intrud...",1

In [27]:
pd.Series((train['first_party'].unique()))
know = pd.Series(train['second_party'].unique())

In [21]:
test.head()

,first_party,second_party,facts
0,Salerno,United States,The 1984 Bail Reform Act allowed the federal c...
1,Milberg Weiss Bershad Hynes and Lerach,"Lexecon, Inc.",Lexecon Inc. was a defendant in a class action...
2,No. 07-582\t Title: \t Federal Communications ...,"Fox Television Stations, Inc., et al.","In 2002 and 2003, Fox Television Stations broa..."
3,Harold Kaufman,United States,During his trial for armed robbery of a federa...
4,Berger,Hanlon,"In 1993, a magistrate judge issued a warrant a..."

In [32]:
# 문자열 컬럼의 마지막 글자가 공백이 되지 않게 하는 함수
def last_empty_remove(df, tr=True):
    if tr:
        for col in tqdm(df.columns[:-1]):
            lst = []
            for ttxt in tqdm(df[col]):
                while(True):
                    if ttxt[-1] == ' ':
                        ttxt = ttxt[:-1]
                    else:
                        break
                lst.append(ttxt)
            df[col] = lst
        print('train 데이터의 각 컬럼의 문자열 마지막 공백을 제거하였습니다.')
    else:
        for col in tqdm(df.columns):
            lst = []
            for ttxt in tqdm(df[col]):
                while(True):
                    if ttxt[-1] == ' ':
                        ttxt = ttxt[:-1]
                    else:
                        break
                lst.append(ttxt)
            df[col] = lst
        print('test 데이터의 각 컬럼의 문자열 마지막 공백을 제거하였습니다.')
    del(lst)

In [33]:
last_empty_remove(train)
last_empty_remove(test,False)

100%|██████████| 2478/2478 [00:00<00:00, 2478770.64it/s]
100%|██████████| 2478/2478 [00:00<00:00, 2478770.64it/s]
100%|██████████| 2478/2478 [00:00<00:00, 1238056.62it/s]
100%|██████████| 3/3 [00:00<00:00, 230.68it/s]

train 데이터의 각 컬럼의 문자열 마지막 공백을 제거하였습니다.

100%|██████████| 1240/1240 [00:00<00:00, 1242163.11it/s]
100%|██████████| 1240/1240 [00:00<00:00, 1236257.89it/s]
100%|██████████| 1240/1240 [00:00<?, ?it/s]
100%|██████████| 3/3 [00:00<00:00, 250.08it/s]

test 데이터의 각 컬럼의 문자열 마지막 공백을 제거하였습니다.

In [4]:
X_train = get_vector(vectorizer, train, True)
Y_train = train["first_party_winner"]
X_test = get_vector(vectorizer, test, False)

In [15]:
X_train.shape

(2478, 52377)